* {
    color: white;
}

:root {
    --cor1: #21C25E;
    --cor2: #38d88b;
    --cor3:#78e0ae;
    --cor4:#111111;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

body {
    background-color: #dbdbdb;
}

.inputContainer {
    box-sizing: border-box;
}

.calcular {
    width: 16vw;
    height: 7vh ;
    cursor:pointer; 
    margin-bottom: 20px;
    border-radius: 5px;
    transition-duration: 0.5s;
    color: black;
    font-weight: bold;
    transition-duration: .5s;
    border: 1px solid #21C25E;
}

.calcularSelic {
    cursor: pointer;
    color: black;
    font-weight: bold;
    border: 1px solid #21C25E;
    border-radius: 5px;
    width: 16vw;
    height: 7vh;
    transition-duration: .5s;
}

.calcular:hover {
    transition-duration: .5s;
    transform: scale(1.01);
}

.calcularSelic:hover {
    transition-duration: .5s;
    transform: scale(1.01);
}

button:active,
button:focus,
button.active {
background-image: none;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}

.inputs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inputs input {
    width: 30%;
    background-color: #111111;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    padding: 18px 10px 18px 10px;
    outline: 0;
    border-radius: 10px;
    border: 2px solid #21C25E;
    transition-duration: 0.5s;
}

.inputs input:hover {
    transition-duration: 0.5s;
    transform: scale(1.03);
}

.res {
    display: none;
    z-index: 1;
    margin: auto;
    position: absolute;
    left: 335px;
    color: black;
    padding: 20px;
    width: 50%;
    max-height: 90%;
    font-size: 1.1em;
    background-color: white;
    border: 3px #21C25E solid;
    border-radius: 5px;
}

.resultados {
    color: #21C25E;
    
}

@media only screen and (max-width: 600px) {
    .calcular, .calcularSelic {
        width: 60vw;
    }
}

@media only screen and (min-width: 600px) {
    .inputs input {
        width: 25%;
    }
}

